variables:
  CONAN_USER_HOME: "$CI_PROJECT_DIR"

stages:
  - build

before_script:
  - cmake --version
  - conan --version
  - conan remote add conan https://api.bintray.com/conan/stever/conan

windows:
  image: docker-windows-build:win1909-amd64-vs2019-16.4
  stage: build
  script:
    - .\build_windows.bat
  artifacts:
    paths:
      - C:\build_windows\_package\*.zip
  tags:
    - windows-docker
