variables:
  CONAN_USER_HOME: "$CI_PROJECT_DIR"

stages:
  - build

before_script:
  - cmake --version
  - conan --version
  - conan remote add conan https://api.bintray.com/conan/stever/conan

windows:
  image: docker-windows-build:latest
  stage: build
  script:
    - cd C:\
    - dir
    - Copy-Item -Path C:\builds\ssrobins\sdl2-example -Destination C:\
    - dir
    - cmd.exe /C C:\sdl2-example\build_windows.bat
  artifacts:
    paths:
      - build_windows/_package/*.zip
  tags:
    - windows-docker
